<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body class="music">
<div class="container-fluid">

    <th:block th:include="~{fragments/navbar-musicroom}"></th:block>
    <h2 class="text-center text-white mt-5">My Music is ...</h2>
    <div style="align-content: center">
        <table class="flat-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Song</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="musician, iter : ${musicians}">
                <tr>
                    <th th:utext="${iter.index + 1}"></th>
                    <td th:utext="${musician.name}"></td>
                    <td th:utext="${musician.song}"></td>
                    <td th:utext="${musician.link}"></td>
                    <td>
                        <form th:action="@{/musicroom/delete/{id}(id=${musician.id})}" method="post"
                              th:object="${musician}">
                            <!--<input type="hidden" th:field="${musician.id}"/>-->
                            <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <!--<td><a th:href="@{/musicroom/delete/{id}(id=${musician.id})}"-->
                    <!--class="btn btn-danger glow-button font-weight-bold text-white">Delete</a></td>-->
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>
</body>
<th:block th:include="~{fragments/footer}"></th:block>
</html>