<!DOCTYPE html>
<html lang="en">

<head>
    <title>OneToRuleThemAll.com</title>
    <link rel="stylesheet" type="text/css" href="../css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body class="movie">
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-background">
        <a class="nav-link text-info active h5" href="index.html">OneToRuleThemAll.com</a>
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-info active font-weight-bold h5" href="home.html">Home</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-info active font-weight-bold h5" href="add-movie.html">Add Movie</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-info active font-weight-bold h5" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <h2 class="text-center text-white mt-5">My Movies are ...</h2>
    <hr style="width: 50%"/>
    <div class='row mb-4 d-flex justify-content-around'>
        <div class="col-md-4 d-flex flex-column bg-text mb-3">
            <h2>Name: ...</h2>
            <h2>Genre: ....</h2>
            <h4>Trailer link: ...</h4>
        </div>
        <div class="col-md-4 d-flex flex-column bg-text mb-3">
            <h2>Name: ...</h2>
            <h2>Genre: ....</h2>
            <h4>Trailer link: ...</h4>
        </div>
    </div>
</div>

</body>

</html>