<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>OneToRuleThemAll.com</title>
    <link rel="stylesheet" type="text/css" href="../css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body class="movie">
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand text-info h4" href="index.html">OneToRuleThemAll.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                    <ul class="navbar-nav row w-25">
                        <li class="nav-item col-md-4">
                            <a href="home.html" class="nav-link text-info active h5">Home</a>
                        </li>
                        <li class="nav-item col-md-4">
                            <a href="add-movie.html" class="nav-link text-info active h5">Add Movie</a>
                        </li>
                        <li class="nav-item col-md-4">
                            <a href="/logout" class="nav-link text-info active h5">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <hr class="my-3" />
            <div class="text-center mb-3">

                <h3>Top 5 Movies of the Year</h3>
            </div>
            <hr class="my-3">
            <div class="container">
                <div class="row mb-4 d-flex justify-content-around">
                    <div class="col-md-3 d-flex flex-column text-center">
                        <img src="../img/starwars.jpg" class="img-thumbnail" width="200" height="200">
                        <h5 class="text-center">"Star Wars III - Revenge of the Sith"</h5>
                        <a href="https://youtu.be/Yx6F46-_3Ec" class="btn btn-danger">Trailer</a>
                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-info text-white">Add to My Movies</button>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column text-center">
                        <img src="../img/lawabidingcitizen.jpg" class="img-thumbnail" width="200" height="200">
                        <h5 class="text-center">"Law abiding citizen"</h5>
                        <a href="https://youtu.be/PN2F9-u4m3U" class="btn btn-danger">Trailer</a>
                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-info text-white">Add to My Movies</button>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column text-center">
                        <img src="../img/astarisaborn.jpg" class="img-thumbnail" width="200" height="200">
                        <h5 class="text-center">"A Star is born"</h5>
                        <a href="https://youtu.be/nSbzyEJ8X9E" class="btn btn-danger">Trailer</a>
                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-info text-white">Add to My Movies</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 d-flex justify-content-around">
                    <div class="col-md-3 d-flex flex-column text-center">
                        <img src="../img/prometheus.jpg" class="img-thumbnail" width="200" height="200">
                        <h5 class="text-center">"Prometheus"</h5>
                        <a href="https://youtu.be/HHcHYisZFLU" class="btn btn-danger">Trailer</a>
                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-info text-white">Add to My Movies</button>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column text-center">
                        <img src="../img/lodroftherings.jpg" class="img-thumbnail" width="200" height="200">
                        <h5 class="text-center">"Lord of the rings - The fellowship"</h5>
                        <a href="https://youtu.be/V75dMMIW2B4" class="btn btn-danger">Trailer</a>
                        <div class="button-holder d-flex justify-content-center">
                            <button type="submit" class="btn btn-info text-white">Add to My Movies</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-3 " />
        </main>
        <footer class="footer py-3 ">
            <div class="container-fluid ">
                <div class="text-muted container-fluid text-center ">&copy; CopyRight GKI Web Design Studios 2019. All rights reserved.
                </div>
            </div>
        </footer>
    </div>
</body>

</html>