<!DOCPayment date html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body class="bank">
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar-bankit}"></th:block>
    </header>
    <h2 class="text-center text-white mt-5">The Bills</h2>
    <hr style="width: 50%"/>
    <div class='row mb-4 d-flex justify-content-around'>
        <div class="col-md-4 d-flex flex-column bg-text mb-3">
            <h2>Name: ...</h2>
            <h2>Payment date: ....</h2>
            <h4>Due: ...</h4>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-danger text-white">Pay</button>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column bg-text mb-3">
            <h2>Name: ...</h2>
            <h2>Payment date: ....</h2>
            <h4>Due: ...</h4>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-danger text-white">Pay</button>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="footer py-3">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</html>