<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body class="food">
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar-foodbar}"></th:block>
    </header>
    <main>
        <hr class="my-3"/>
        <h1 class="text-center">Add Food</h1>
        <hr class="hr-3"/>
        <form class="mx-auto w-15" method="post" action="add-food.html">
            <div class="form-group">
                <div class="label-holder d-flex justify-content-center">
                    <label for="name" class="h3 mb-2">Meal name</label>
                </div>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <div class="label-holder d-flex justify-content-center">
                    <label for="quantity" class="h3 mb-2">Quantity</label>
                </div>
                <input type="text" class="form-control" id="quantity" name="quantity">
            </div>
            <div class="form-group">
                <div class="label-holder d-flex justify-content-center">
                    <label for="kilos" class="h3 mb-2">Kilos</label>
                </div>
                <input type="text" class="form-control" id="kilos" name="kilos">
            </div>
            <div class="form-group">
                <div class="label-holder d-flex justify-content-center">
                    <label for="additional_requirments" class="h3 mb-2">Additional Requirements </label>
                </div>
                <textarea rows="4" class="form-control" id="additional_requirments"
                          name="additional_requirments"></textarea>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-info text-white">Add</button>
            </div>
        </form>
        <hr class="my-3">
    </main>
    <footer class="footer py-3">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>

</html>