<th:block>
    <th:block sec:authorize="isAnonymous()">
        <nav class="jumbotron-fluid navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-info h4" th:href="@{/}">OneToRuleThemAll.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a th:href="@{/home}" class="nav-link text-info active h5">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a th:href="@{/auth/login}" class="nav-link text-info active h5">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a th:href="@{/auth/register}" class="nav-link text-info active h5">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <nav class="jumbotron-fluid navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-info h4" th:href="@{/}">OneToRuleThemAll.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAuth"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarAuth">
                <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a th:href="@{/home}" class="nav-link text-info active h5">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a th:href="@{/auth/login}" class="nav-link text-info active h5">Profile</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <form action="/logout?login" method="post">
                            <a th:href="@{/logout}" class="nav-link text-info active h5">Logout</a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
</th:block>