body {
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

body.music {
    background-image: url(../img/musicroomback.jpg);
}

body.movie {
    background-image: url(../img/movieback.jpg);
}

body.food {
    background-image: url(../img/foodbarback.jpg);
}

body.bank {
    background-image: url(../img/baknback.jpg);
}

body::after {
    content: '';
    display: block;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.jumbotron {
    background-color: rgb(245, 245, 245);
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: .1rem
}

.text-info {
    color: red!important
}

h1,
h2,
h3,
h4,
h5,
p {
    /* color: white;
    text-shadow: white 0px 0px 10px; */
    color: white;
    font-size: 25px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.nav-link {
    color: red;
    font-size: 20px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.navbar-brand {
    color: black;
    font-size: 20px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.footer {
    color: red;
    font-size: 20px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

a {
    color: yellow;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    margin: 0 auto;
    width: 250px;
}

.mb-2 {
    color: yellow;
}

.app-color {
    color: yellow;
}