<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>


<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <hr class="my-3"/>
        <div class="text-center mb-3">
            <h4 class="text-info">Welcome, $(username)</h4>
            <h3>There is your's Applications to Rule</h3>
        </div>
        <hr class="my-3">
        <div class="container">
            <div class="row mb-4 d-flex justify-content-around">
                <div class="col-md-3 d-flex flex-column text-center">
                    <img src="img/musicroomicon.jpg" class="img-thumbnail" width="100" height="100" alt="Music Room">
                    <h5 class="text-center">Music Room</h5>
                    <a th:href="@{/musicroom/musicroom-home}" class="btn btn-danger">Go to...</a>
                </div>
                <div class="col-md-3 d-flex flex-column text-center">
                    <img src="img/moviehub.jpg" class="img-thumbnail" width="100" height="100">
                    <h5 class="text-center">Movie Hub</h5>
                    <a th:href="@{/moviehub/moviehub-home.html}" class="btn btn-danger">Go to...</a>
                </div>
                <div class="col-md-3 d-flex flex-column text-center">
                    <img src="img/friendzone.jpg" class="img-thumbnail" width="100" height="100">
                    <h5 class="text-center">Friend's Zone</h5>
                    <a href="/" class="btn btn-danger">Go to...</a>
                </div>
            </div>
            <div class="row mb-4 d-flex justify-content-around">
                <div class="col-md-3 d-flex flex-column text-center">
                    <img src="img/bankit.jpg" class="img-thumbnail" width="100" height="100">
                    <h5 class="text-center">Bank It</h5>
                    <a th:href="@{/bankit/bankit-home.html}" class="btn btn-danger">Go to...</a>
                </div>
                <div class="col-md-3 d-flex flex-column text-center">
                    <img src="img/foodbar.jpg " class="img-thumbnail " width="100 " height="100 ">
                    <h5 class="text-center ">Food Bar</h5>
                    <a th:href="@{/foodbar/foodbar-home.html}" class="btn btn-danger ">Go to...</a>
                </div>
            </div>
        </div>
        <hr class="my-3 "/>
    </main>
    <footer class="footer py-3">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>

</html>