<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>OneToRuleThemAll.com</title>
    <link rel="stylesheet" type="text/css" href="css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="container-fluid">
        <header>
            <nav class="jumbotron-fluid navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand text-info h4" href="/">OneToRuleThemAll.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                    <ul class="navbar-nav row">
                        <li class="nav-item col-md-4">
                            <a href="/" class="nav-link text-info active h5">Home</a>
                        </li>
                        <li class="nav-item col-md-4">
                            <a href="login.html" class="nav-link text-info active h5">Login</a>
                        </li>
                        <li class="nav-item col-md-4">
                            <a href="register.html" class="nav-link text-info active h5">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <hr class="my-3" />
            <div class="jumbotron-fluid text-center">
                <h1 class="text-center">Welcome to
                    <p style="color: red">OneToRuleThemAll.com
                        <p>
                </h1>
                <hr class="my-3">
                <p class="h4 text-center">Here is easy to manage all yours daily apps...</p>
                <hr class="my-3">
                <p><a href="/login">Login</a> if you have an account or <a href="/register">Register</a> now and let's the Rule Begin.</p>
            </div>
            <hr class="my-3" />
        </main>
        <footer class="footer py-3">
            <div class="container-fluid">
                <div class="text-muted container text-center">&copy; CopyRight GKI Web Design Studios 2019. All rights reserved.
                </div>
            </div>
        </footer>
    </div>
</body>

</html>